<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title></title>

    {% block styles %}
      <link rel="stylesheet" href="/css/vendor.css">
      <link rel="stylesheet" href="/css/main.css">
    {% endblock %}

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>

  <body class="page">

    <!-- Header -->

    {% block header %}
      {% include "layout/header/default.njk" %}
    {% endblock %}

    <!-- Content -->

    <main class="content">
      {% block content %}{% endblock %}
    </main>

    <!-- Footer -->

    {% block footer %}
        {% include "layout/footer/default.njk" %}
    {% endblock %}

    <!-- Scripts -->

    {% block scripts %}
      <script src="js/main.js"></script>
    {% endblock %}

  </body>
</html>
