.row {
  display   : flex;
  flex-wrap : wrap;
  margin : 0 -8px -8px;

  & > .col {
      margin : 0 8px 8px;
  }

  @include media(md) {
    margin : 0 -8px -16px;

    & > .col {
        margin : 0 8px 16px;
    }
  }

  @include media(lg) {
    margin    : 0 -12px -24px;

    & > .col {
        margin : 0 12px 24px;
        box-sizing: border-box;
    }
  }








}
