{% extends "layout/body.njk" %}

{% block content %}
  <section class="section">
    <div class="section__container container">
      <div class="section__wrapper">
        <h1>Hello World!!!</h1>
      </div>
    </div>
  </section>
{% endblock %}
