{% extends "layout/body.njk" %}

{% block content %}
  <section class="section">
    <div class="section__container container">
      <div class="section__wrapper">
        <h1>{{ event.persons[0] }} и {{ event.persons[1] }}</h1>
      </div>
    </div>
  </section>
{% endblock %}
