<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Заголовок</title>

    {% block styles %}
      <link rel="stylesheet" href="/css/vendor.css">
      <link rel="stylesheet" href="/css/main.css">
    {% endblock %}

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>

  <body class="page">

    <!-- Header -->

    <header class="header"></header>

    <!-- Content -->

    <main class="content">

      <!-- Section -->

      <section class="section">
        <div class="section__container container">
          <div class="section__wrapper">

          </div>
        </div>
      </section>

    </main>

    <!-- Footer -->

    <footer class="footer">

      <!-- Copyright -->

      <div class="footer__copyright">
        <p class="copyright">2022–&infin; Копирайт</p>
      </div>
    </footer>

    <!-- Scripts -->

    <script src="js/main.js"></script>
  </body>
</html>
