<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Index</title>

    {% block styles %}
      <link rel="stylesheet" href="/css/vendor.css">
      <link rel="stylesheet" href="/css/main.css">
    {% endblock %}

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  </head>

  <body class="page">

    <header class="header">Хедер</header>

    <!-- Section -->

    <section class="section">
      <div class="section__container container">
        <div class="section__wrapper">
          <h1>Hello World!!!</h1>
        </div>
      </div>
    </section>

    <footer class="footer">
      Футер
    </footer>

    <script src="js/main.js"></script>
  </body>
</html>
