<footer class="footer">
  <div class="footer__container container">
    <div class="footer__contacts">
      <ul class="contacts">
        <li><a href="">Телеграм</a></li>
        <li><a href="">Вотсап</a></li>
        <li><a href="">Инстаграмм</a></li>
      </ul>
    </div>
    <div class="footer__copyright">
      <p class="copyright">2022–&infin; Копирайт</p>
    </div>
  </div>
</footer>
