{% extends "parts/section.njk" %}

{% set section_title = "О нас" %}

{% block section_content %}
  <p>Я Юля, а еще со мной работает мой друг Денис. Мой второй оператор и монтажер.</p>
  <p>Мы снимаем любовь и работаем по любви. Нам важно показать настоящих вас. Ваши чувства и эмоции друг с другом.</p>
  <p>Поэтому мы не любим указывать, что делать, а снимаем просто вас, какие вы есть) для нас это самое ценное)</p>
{% endblock %}
