{% extends "parts/section.njk" %}

{% set section_title = "Цены" %}

{% block section_content %}

  <h3>Пакет 1</h3>
  <ul>
    <li>2 оператора</li>
    <li>12 часов работы</li>
    <li>Фильм 10-15 минут</li>
    <li>Инстаролик</li>
    <li>Коптер</li>
    <li>Предсвадебная съемка с возможностью выезда по краю(Горный Алтай, Яровое, Новосибирск), до 8 часов работы</li>
    <li>Репортажный фильм</li>
    <li>монтаж 7 месяцев</li>
  </ul>
  <p>140 000 р.</p>

  <h3>Пакет 2:</h3>
  <ul>
    <li>2 оператора</li>
    <li>10 часов работы</li>
    <li>фильм до 10 минут</li>
    <li>инстаролик</li>
    <li>коптер, по возможности</li>
    <li>предсвадебная съемка в пределах города(+-50км), до 4 часов работы</li>
    <li>репортажный фильм</li>
    <li>монтаж 7 месяцев</li>
  </ul>
  <p>110 000 р.</p>

  <h3>Дополнительные услуги</h3>

  <p>
    -Лавстори, отдельно смонтированная с предсвадебной съемки ко дню свадьбы
    15000
  </p>

  <p>
    -дополнительный час работы
    7000
  </p>

  <p>
    -3-4-вертикальных ролика до 10 секунд каждый в течении 3-4 недель после свадьбы
    15000
  </p>

  <p>
    -срочный монтаж фильма в течении месяца после свадьбы
    30% от стоимости выбранного пакета
  </p>

  <p>*Чтобы наше сотрудничество было более продуктивным, мы хотим поделиться с вами своими принципами работы и ответить на основные вопросы при бронировании.</p>

  <p>
    1. Перед свадьбой обязательно заключается договор. Обсуждаются все нюансы дня и съемки. Также в день заключения договора вносится плата в размере 5000 рублей, что является гарантией бронирования даты торжества.
  </p>

  <p>
    2. «Командная работа». Мы всегда работаем вдвоем. Это позволяет, например, на регистрации снять одновременно реакцию гостей и вас (в то время как вы обмениваетесь кольцами). Или чтобы не пострадал тайминг, мы можем разделиться. Пока один оператор с вами на прогулке, второй уже подготавливает оборудование на банкете и начинает снимать гостей на велкоме.
  </p>

  <p>
    3. «Инстаролик» или клип до 1 минуты. Небольшая интрига для ваших родственников и друзей, прежде чем они увидят весь фильм. Самые яркие моменты со всего дня.
  </p>

  <p>
    4. «Фильм». Ваше маленькое кино. Мы собираем вашу свадьбу по крупицам так, чтобы никто не заскучал при просмотре. И чтобы этот ролик показывал вашу индивидуальность, мы обязательно учитываем ваши интересы (будь то любимый фильм или вышивание крестиком).
  </p>

  <p>
  5. «Документальный фильм». Тут всё и даже больше. Весь материал вашего свадебного дня, сформированный в хронологической последовательности. Вы сможете посмотреть всю церемонию, послушать поздравления и вспомнить в кого попал букет невесты. И родственники не будут спрашивать почему такой короткий фильм, если мы работаем целый день.
  </p>

  <p>
    6. «Предсвадебная съемка». Снимается в отдельный день до свадьбы для знакомства с нами. Эти кадры идут в свадебный фильм для дополнения и большего разнообразия. В день свадьбы мы уже будем знать ваши «рабочие стороны», а вы не будете стесняться их показать.
  </p>

  <p>
    7. «Коптер» (чтоб как в кино). Мы любим кадры с воздуха. Поэтому если позволяют погодные условия, то мы с радостью полетаем.
  </p>

  <p>
    8. «Сроки». Для того, чтобы все молодожены получили свои фильмы вовремя, мы отдаем работы в течении 7 месяцев после свадьбы.
  </p>

{% endblock %}
