{% from "components/preview.njk" import event_preview %}

{% macro event_card(event = {}) %}
  <article class="event-card">
    <a class="event-card__link" href="/events/{{ event.link }}.html" target="_blank">
      <div class="event-card__preview">
        {{ event_preview({ cover: event.image, video: event.video }) }}
      </div>
      <h3 class="event-card__title">
        {{ event.title }}
      </h3>
    </a>
  </article>
{% endmacro %}
